@import './base64.scss';
$theme: #3586FF;
 $dark: (
  dpTheme: $theme,
  dpStrong: #fff,
  dpNormal: #8E9298,
  dpAncillary: #74767C,
  dpRed: #ED4949,
  dpYellow: #F6B73D,
  dpGreen: #24C23D,
  dpBasicWhite: #1A1A21,
  dpBasicBlack: #FFF,
  dpBackground: #141415,
  dpDivide: #3C3D45,
  dpButton: #30313A,
  dpCombatButton: #30313A,
  dpCard: #24242B,
  dpCardBorder: #292B2E,
  dpTopBackground: #1D1F26,
  dpPromptBackground: #3C3E4C,
  dpInputBackground: #292C34,
  dpCoinBg: #3C3E4C,
  dpPlayTypeBg: linear-gradient(90deg, rgba(53, 134, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 29.6%),
  dpSwitchBtnBg: #17181D,
  dpSwitchActBg: linear-gradient(180deg, #333642 0%, #2E323E 100%),
  dpSwitchBtnShadow: 0px 1px 2px 0px rgba(21, 22, 25, 0.25),
  dpCountDownBg: #DFECFF,
  oddBoxShadow: 0px 1px 2px 0px rgba(22, 22, 23, 0.25),
  dpActiveButton: #292C34,
  dpBetCard: #292B2E,
  dpBetCard1: #292B2E,
  dpBetGrad1: rgba(53, 53, 66, 0.5), 
  dpBar: #25262E,
  dpConfirmModalBg: #3C3D45,
  dpAlert4Bg: url('../img/alert4-bg-dark.webp'),
  dpAlert4Img: url('../img/alert4-img-dark.svg'),
  dpAlert3Gradient: linear-gradient(180deg, rgba(50, 51, 60, 0.00) 0%, #32333C 100%),
  dpAlert3Bg: url($bgDark),
  dpAlert3Player: url($player),
  dpAlert3Connection: url($connection),
  dpOrderCard: #30313A,
  dpOrderCardBg: url('~@this/assets/images/betting-card/dark-card-bg.svg'),
  h5Red: #ED4949,
  skeletonBg: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 25%, rgba(255, 255, 255, 0.18) 37%, rgba(255, 255, 255, 0.12) 63%),
  textRed: #b1222b,
)