@import './base64.scss';
$theme: #3586FF;
$light: (
  dpTheme: $theme,
  dpStrong: #19191A,
  dpNormal: #a7afbb91,
  dpAncillary: #B7BBC6,
  dpRed: #ED4949,
  dpYellow: #F6B73D,
  dpGreen: #24C23D,
  dpBasicWhite: #fff,
  dpBasicBlack: #19191A,
  dpBackground: #EFF1F7,
  dpDivide: #EAECF0,
  dpButton: #fff,
  dpCombatButton: #19191A,
  dpCard: #F9FAFC,
  dpCardBorder: #fff,
  dpTopBackground: #fff,
  dpPromptBackground: #F0F2F8,
  dpInputBackground: #F5F7FF,
  dpCoinBg: #F0F2F8,
  dpPlayTypeBg: linear-gradient(90deg, #D9E6FD 0%, rgba(255, 255, 255, 1) 29.6%),
  dpSwitchBtnBg: #F6F8FC,
  dpSwitchActBg: linear-gradient(180deg, #FFF 0%, #F5F7FA 100%),
  dpSwitchBtnShadow: 0px 1px 2px 0px rgba(181, 182, 189, 0.25),
  dpCountDownBg: #DFECFF,
  oddBoxShadow: 0px 1px 2px 0px rgba(198, 200, 207, 0.25),
  dpActiveButton: #F5F7FF,
  dpBetCard: #24242B,
  dpBetCard1: #F9FAFC,
  dpBetGrad1: #FFFFFF, 
  dpBar: #FCFCFC,
  dpConfirmModalBg: #FFF,
  dpAlert4Bg: url('../img/alert4-bg-light.webp'),
  dpAlert4Img: url('../img/alert4-img-light.svg'),
  dpAlert3Gradient: linear-gradient(180deg, rgba(248, 248, 248, 0.00) 0%, #F8F8F8 100%),
  dpAlert3Bg: url($bgLight),
  dpAlert3Player: url($player),
  dpAlert3Connection: url($connection),
  dpOrderCard: #F9FAFC,
  dpOrderCardBg: url('~@this/assets/images/betting-card/light-card-bg.svg'),
  h5Red: #ED4949,
  skeletonBg: linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%),
  textRed: #b1222b,
)
