@import './base64.scss';
 $dark: (
  headerBg: linear-gradient(180deg, #1C1D25 0%, #1E1F26 100%),
  btnBg: linear-gradient(180deg, #55565A 0%, #3D3E44 71.87%, #43444A 100%),
  tooltipBg: #909399,
  dpTheme: #3586FF,
  dpTip: #1E1F26,
  dpStrong: #FFFFFF,
  dpNormal: #E1E1E1,
  dpNormal2: #B2B2B2,
  dpAncillary: #9C9C9C,
  dpButton: #3B3C42,
  dpButton1: #2E2E32,
  dpBasicWhite: #fff,
  dp_nomal_white: rgba(#fff, .8),
  dpBackground: #141415,
  dpDivide: #333539,
  dpForm1: #25262D,
  dpForm2: #303137,
  dpOutline: #4E5057,
  dpOutline1: #4E5057,
  dpBar: #25262E,
  dpCar: #1E1F26,
  dp_Card: #1E1F26,
  dp_divide: #333539,
  dpUpBackground: #472126,
  dpUp: #FF0802,
  dpDownBackground: #1A3A2F,
  dpDown: #1EF207,
  dpHover: #223140,
  dpOddActive: #3586FF,
  dp_odd_hover: #3E4249,
  dp_up: #DD5454,
  dp_up1: #F14F4B,
  dp_up2: #FF0802,
  dp_odchange: #25AA17,
  dp_odchange1: #1EF207,
  dp_up_background: #472126,
  dp_od_background: #1A3A2F,

  // dp_match_bg_hover:#24252c,
  dp_btn_hover: #32333D,
  dp_dropdown_language: linear-gradient(90deg, #284268 -0.22%, rgba(33, 34, 39, 0.00) 99.78%),
  dp_tip_leave_modal_background: #1E1F26,
  dp_tip_leave_modal_content_color: #B2B2B2,
  dp_tip_notice_modal_background1: linear-gradient(180deg, #4D4F54 0%, #262728 100%),
  dp_tip_notice_modal_background2: linear-gradient(180deg, rgba(51, 52, 56, 0.8) 29.14%, rgba(36, 36, 38, 0.8) 106.78%),
  dp_tip_notice_modal_title_color: #FFF,
  dp_tip_notice_modal_content_color: #E1E1E1,
  dp_tip_notice_modal_button_background: linear-gradient(180deg, #5D5F63 0%, #474849 56.25%, #505458 100%),
  dp_tip_notice_modal_button_box_shadow: 0px 2px 2px 0px rgba(31, 34, 38, 0.16),
  // dp_tip_notice2_modal_background_img: url('../img/notice2-dark.svg') no-repeat,
  dp_tip_notice2_modal_background_img: url($notice2_dark) no-repeat,
  // dp_tip_notice3_modal_background_img: url('../img/notice3-dark.svg') no-repeat,
  dp_tip_notice3_modal_background_img: url($notice3_dark) no-repeat,
  dp_betting_modal_background: #1E1F26,
  dp_betting_modal_border: #4E5057,
  dp_betting_modal_back_img: #141415,
  dp_betting_modal_back_img_opacity: 0.6,
  dp_betting_modal_back_img_url_new: url('../img/betting-back-img-new-dark.webp'),  
  dp_betting_modal_back_img_url_pro: url('../img/betting-back-img-pro-dark.webp'),
  dp_betting_modal_title_icon_url: url('../img/betting-title-icon-dark.svg'),
  dp_betting_modal_description_h4: #FFF,
  dp_betting_modal_description_p: #B2B2B2,
  // dropdown collaspe color
  dp_dropdown_collaspe: linear-gradient(90deg, #262729 1.96%, #1E1F26 100%),
  dp_dropdown_collaspe_selected: linear-gradient(90deg, #284268 -0.22%, rgba(33, 34, 39, 0.00) 99.78%),
  dp_record_go_back_btn:linear-gradient(180deg, #2D2E30 0%, #36373E 46.5%, #24252D 81.5%, #1E1F26 100%),
  dp_record_lose: linear-gradient(180deg, #55565A 0%, #3D3E44 73.96%, #43444A 96.35%),
  dp_dropdown_collaspe_icon: #9C9C9C,

  // 新手模式样式 - start
  dpNoobOutLine: #2b2c32,
  close: '../../../../../../assets/images/svg/close-dark.png',
  // 新手模式样式 - end
  dpFullScoreBg: '~@this/assets/images/common/bg-dark.png',
  dpPlayTypeBg: linear-gradient(90deg, #223140 2.16%, #1E1F26 50.09%),
  dpMenuActiveBg: linear-gradient(90deg, rgba(34,49,64,1) 0%, rgba(29,39,47,1) 88%, rgba(30,31,38,1) 100%),
  textRed: #e94343,
  lineBg: #44494F,
)