@import './base64.scss';
$theme: #3586FF;
$light: (
  headerBg: linear-gradient(180deg, #D9EFFF 0%, #E9EFFF 15.23%, #FFF 39%),
  btnBg: linear-gradient(180deg, #FFF 0%, rgba(243, 246, 255, 0.98) 71.87%, #FFF 100%),
  tooltipBg: #909399,
  dpTheme: $theme,
  dpTip: #F8F8F8,
  dpStrong: #0B0B0C,
  dpNormal: #787878,
  dpNormal2: #787878,
  dpAncillary: #BFBFC0,
  dpButton: #F8F8F8,
  dpButton1: #F8F8F8,
  dpBasicWhite: #fff,
  dp_nomal_white: rgba(#fff, .8),
  dpBackground: #F4F6FA,
  dpDivide: #F3F4F6,
  dpForm1: #FAFCFF,
  dpForm2: #F3F9FF,
  dpOutline: #DBDBDB,
  dpOutline1: #DBDBDB,
  dp_Card: #FFFFFF,
  dp_divide: #EBEDF1,
  dpBar: #FCFCFC,
  dpCar: #fff,
  dpUpBackground: #FFECF0,
  dpUp: #ED3737,
  dpDownBackground: #DFFFE7,
  dpDown: #1FCC0C,
  dpHover: #F0F6FF,
  dpOddActive: $theme,
  dp_odd_hover : #F0F6FF,
  // dp_match_bg_hover:rgba(#eceef7, .8),
  dp_btn_hover: #F0F6FF, 
  dp_up: #F87676,
  dp_up1: #ED3737,
  dp_up2: #ED3737,
  dp_odchange: #69CA5F,
  dp_odchange1: #1FCC0C,
  dp_up_background: #FFECF0,
  dp_od_background: #DFFFE7,
  
  // modal pop up
  dp_tip_leave_modal_background: #fff,
  dp_tip_leave_modal_content_color: #787878,
  dp_tip_notice_modal_background1: linear-gradient(180deg, #F6F7F9 0%, #D5DBE7 100%),
  dp_tip_notice_modal_background2: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 29.14%, rgba(221, 224, 235, 0.8) 106.78%),
  dp_tip_notice_modal_title_color: #0B0B0C,
  dp_tip_notice_modal_content_color: #787878,
  dp_tip_notice_modal_button_background: linear-gradient(180deg, #FFF 0%, #FFF 56.25%, #ECF0F4 80.73%, #FBFBFB 100%),
  dp_tip_notice_modal_button_box_shadow: 0px 2px 2px 0px rgba(202, 209, 218, 0.16),
  // dp_tip_notice2_modal_background_img: url('../img/notice2-white.svg') no-repeat,
  dp_tip_notice2_modal_background_img: url($notice2_white) no-repeat,
  // dp_tip_notice3_modal_background_img: url('../img/notice3-white.png') no-repeat,
  dp_tip_notice3_modal_background_img: url($notice3_white) no-repeat,
  dp_betting_modal_background: #FFF,
  dp_betting_modal_border: #4E5057,
  dp_betting_modal_back_img: #F4F6FA,
  dp_betting_modal_back_img_opacity: 1,
  dp_betting_modal_back_img_url_new: url('../img/betting-back-img-new-white.webp'),
  dp_betting_modal_back_img_url_pro: url('../img/betting-back-img-pro-white.webp'),
  dp_betting_modal_title_icon_url: url('../img/betting-title-icon-white.svg'),
  dp_betting_modal_description_h4: #0B0B0C,
  dp_betting_modal_description_p: #787878,
  // dropdown collaspe color
  dp_dropdown_language: linear-gradient(90deg, #CCE0FF -0.22%, rgba(198, 215, 240, 0.00) 97.17%),
  dp_dropdown_collaspe: linear-gradient(90deg, #F2F6FF 1.96%, rgba(243, 246, 254, 0.00) 100%),
  dp_dropdown_collaspe_selected: linear-gradient(90deg, #ACC6ED -0.22%, rgba(198, 215, 240, 0.00) 97.17%),
  dp_record_go_back_btn:linear-gradient(180deg, #FCFCFC 0%, #F1F2FB 69.27%, #FCFCFC 100%),
  dp_record_lose: linear-gradient(180deg, #FFF 0%, #F3F6FF 78.87%, #FFF 100%),
  dp_dropdown_collaspe_icon: #BFBFC0,
  // 新手模式样式 - start
  dpNoobOutLine: #F0F6FF,
  close: '../../../../../../assets/images/svg/close.png',
  // 新手模式样式 - end
  dpMatchTypeActive: $theme,
  dpFullScoreBg: '~@this/assets/images/common/bg-light.png',
  dpPlayTypeBg: linear-gradient(90deg, #EAF6FF 2.56%, #FFF 29.76%),
  dpMenuActiveBg: linear-gradient(90deg, rgba(234,246,255,1) 0%, rgba(245,251,255,1) 88%, rgba(250,251,255,1) 100%),
  textRed: #b1222b,
  lineBg: #CED1D5,
)