@import '~@style/mixins/index.scss';
:local(.wrapper) {

  height: 24px;
  display: flex;
  align-items: center;

  >span.type {
    display: flex;
    width: 22px;
    height: 22px;
    padding: 4px 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background: linear-gradient(180deg, #51B6FF 0%, #3586FF 100%);
    box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.35) inset;
    box-sizing: border-box;
    color: white;
  }

  >span.brand {
    margin-left: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    @include useTheme {
      color: getVar('dpStrong');
    }
  }

  >span.balance {
    position: relative;
    display: flex;
    padding: 4px 10px;
    border-radius: 60px;
    color: #19191A;
    text-align: center;
    font-size: 14px;
    margin-left: auto;
    @include useTheme {
      background: getVar('dpPromptBackground');
      color: getVar('dpStrong');
    }
    >em{
      margin-right: 12px;
    }
    .rotate{
      animation: rot 1s linear infinite;
    }
    >img {
      position: absolute;
      top: 50%;
      right: 4px;
      transform: translateY(-53%);
      width: 16px;
      height: 16px;
    }
  }
  @keyframes rot {
      0%{
        transform: translateY(-53%) rotate(0deg);
      }
      100%{
        transform: translateY(-53%) rotate(360deg);
      }
  }
}
