@import '~@style/mixins/index.scss';
:local(.betCartwrapper){
  flex-shrink: 0;
  fill: #FFF;
  position: fixed;
  width: 100%;
  height: calc(100vh);
  bottom: env(safe-area-inset-bottom);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  touch-action: none;
  @include useTheme {
    background:getVar('dpBasicWhite');
  }
  
  >div.money-input{
    height: 38px;
    display: flex;
    justify-content: space-between;
    >div.title{
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;
      box-sizing: border-box;
      border-radius: 6px;
      width: 253px;
      justify-content: flex-start;
      font-size: 16px;
      padding-left: 10px;
      padding-right: 10px;
      @include useTheme {
        color:getVar('dpStrong');
        background:getVar('dpInputBackground');
      }
      .hide{
        display: none;
      }
      em:nth-child(1){
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;    
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        @include useTheme {
          color:getVar('dpNormal');
        }
      }
      em:nth-child(2){
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);        
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        opacity: 0.6;
        @include useTheme {
          color:getVar('dpStrong');
        }
      }
    }
    .reserve-in{
      display: flex;
      height: 38px;
      width: 86px;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      background: #3586FF;
      box-sizing: border-box;
      font-size: 13px;
      color: #fff;
      &::before{
        content: "";
        width: 16px;
        height: 16px;
        margin-right: 4px;
        background-image: url('./i/cross.svg');
        background-size: cover;
      }
      @include useTheme {
        background:getVar('dpTheme');
      }
    }
    .reserve-out{
      display: flex;
      height: 38px;
      width: 86px;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      box-sizing: border-box;
      font-size: 13px;
      color: #fff;
      @include useTheme {
        color: getVar('dpTheme');
        border: 1px solid getVar('dpTheme');
      }
    }
  }
  .reserve-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px 7px 10px;
    margin-top: 12px;
    border-radius: 6px;
    @include useTheme {
      background: getVar('dpInputBackground');
    }
    .unvisiable{
      visibility: hidden;
    }
    .c1,.c3{
      font-family: "PingFang SC";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      @include useTheme {
        color: getVar('dpStrong');
      }
    }
    .c2{
      span:nth-child(1){
        text-align: right;
        font-family: "PingFang SC";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 100% */
        @include useTheme {
          color: getVar('dpStrong');
        }
      }
      span:nth-child(2){
        text-align: right;
        font-family: DINPro;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px; /* 100% */
        @include useTheme {
          color: getVar('dpStrong');
        }
      }
    }
  }
  >div.odds-change-apply{
    display: flex;
    margin-top: 12px;
    color: #A7AFBB;
    font-size: 10px;
    font-weight: 400;
    align-items: center;
    >span{
      margin-left: 4px;
    }
  }

  >div.submit{
    margin-top: 12px;
    height: 42px;
    display: flex;
    width: 100%;
    justify-content: center;
    >.action{
      position: relative;
      border-radius: 30px;
      background: #3586FF;
      height: 100%;
      // width: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: white;
      gap: 2px;
      padding: 0 8px;
      box-sizing: border-box;
      position: relative;
      margin: 0 auto;
      text-align: center;
      .y-can-win{
        margin-left: 10px;
      }
      img{
        width: 30px;
        height: 30px;
      }
      
      >span.tripple-arrow{
        position: absolute;
        top: 50%;
        left: 300px;
        transform: translate(0, -50%);
        width: 18px;
        height: 9px;        
        overflow: hidden;        
        @keyframes triple {
          // from {right: 27px;}
          // to {right: 0px;}
          0%   {right: 20px;display: hidden;}
          1%   {right: 20px; display: flex;}
          25%  {right: 10px;}
          50%  {right: 0px;}
          75%  {right: -10px;}
          98% {right: -20;}
          99% {right: -20px; display: hidden;}
          100% {right: 20px; display: hidden;}
        }
        >span{
          position: relative;
          display: flex;
          justify-content: flex-start;
          gap: 6px;
          width: 18px;
          height: 9px;    
          right: 40px;
          align-items: center;
          display: hidden;
          >img{
            width: 5px;
            height: 9px;
            object-fit: contain;
          }
          animation-name: triple;
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
          animation-delay: 0.1s;
          animation-fill-mode: forwards;
          animation-timing-function: linear;
        }
        
      }
    }
    >.mix-bet{
      display: flex;
      height: 42px;
      width: 42px;
      border-radius: 30px;
      box-sizing: border-box;
      padding: 13px 8px 13px 5px;
      justify-content: center;
      background: #F5F7FF;
      color: #3586FF;
      align-items: center;
      font-size: 14px;
    }
  }
}
:local(.bg){
  width: 100%;
  height: 100vh;
}
@keyframes slideInUpByBetCart {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
