<!-- <%= htmlWebpackPlugin.options.date %> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <meta name="screen-orientation" content="portrait" />
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.icon %>">
  </head>
  <body>
    <div class="root" id="root" class="view">
      1
    </div>
  </body>
</html>
