@import '~@core/templates/desktop/styles/mixins/index.scss';

:local(.wrapper) {
  >.match-detail-actions {
    height: 30px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    @include useTheme {
      background: getVar('dpCar');
    }
    .reload-icon svg {
      width: 20px;
      height: 20px;
    }
    .match-detail-actions-icons {
      margin-right: 11px
    }
  }

  >.team-info {
    position: relative;
    height: 36px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    @include useTheme {
      background: getVar('dpCar');
    }
    .items-center{
      line-height: 1;
    }
  }
  >.ant-drawer {
    position: absolute;
    margin-top: 67px;
    outline: none;
    .ant-drawer-body {
      @include useTheme {
        border-top: 1px solid getVar('dpDivide');
      }
    }
  }
  >.video-wrapper {
    height: 190px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    @each $id in 1, 2, 3, 5, 6, 8, 9, 10, 11, 12, 13, 16, 18, 19, 23, 28 {
      &.sport-#{$id} {
        background-image: url("./i/sport-" + $id + ".webp");
      }
    }
    &.is-animate {
      height: 163px;
    }
    img {
      width: 100%;
    }
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      border: none;
      width: 100%;
      height: 100%;
      z-index: 5;
    }
  }
}