@import '~@style/mixins/index.scss';

:local(.wrapper){
  position: absolute;
  bottom: 0;
  padding-top: 4px;
  z-index: 5;
  height: 49px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 16px 16px 0 0;
  
  @include useTheme {
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.02);
    background: getVar('dpBasicWhite');
  }

  >div{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img{
      height: 16px;
      margin-bottom: 4px;
    }
    span{
      width: 100%;
      text-align: center;
      @include useTheme {
        color: getVar('dpNormal');
      }
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  div:nth-child(5) {
    &.rotate-infinite img {
      animation: rotate-infinite 2s infinite;
    }
  }

}
