@import '~@core/templates/desktop/styles/mixins/index.scss';

:local(.dpNodata) {
  border-radius: 6px;
  @include useTheme {
    background-color: getVar('dpCard');
  }
  .title{
    position: relative;
    border-bottom: 0.5px solid rgba(getVar('dpNormal'), 0.1);
    padding: 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    @include useTheme{
      color: getVar('dpStrong');
    }
    &::before {
      content: '';
      position: absolute;
      border-radius: 4px;
      top: 8px;
      left: 0;
      width: 2px;
      height: 14px;
      background-color: getVar('dpTheme');
    }
  }
  .content{
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    @include useTheme{
      color: getVar('dpNormal');
    }
  }
}
