@import '~@core/templates/desktop/styles/mixins/index.scss';

:local(.wrapper) {
  @include abs-center;
  position: fixed;
  background: white;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  animation: fade-bottom-top 0.6s forwards;
  width: 650px;
  min-height: 345px;
  overflow: hidden;

  @keyframes fade-bottom-top {
    0% {
      opacity: 0.6;
      transform: translate(-50%, -35%);
    }

    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  .header {
    padding: 40px 0 15px 0;
    font-size: 30px;
    text-align: center;
    color: #bf9d55;
    font-weight: 600;
    line-height: 40px;
  }

  .line {
    margin: 0 auto;
    width: 100px;
    background-color: #bf9d55;
    height: 3px;
  }

  .contents {
    min-height: calc(100% - 95px);
    overflow: auto;
    box-sizing: border-box;
    padding: 30px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    white-space: pre-wrap;
  }

  .actions {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 36px 0;
    gap: 36px;

    >button {
      width: 145px;
      height: 50px;
      border-radius: 5px;
      background: #bf9d55;
      color: #fff;
      border: 1px solid #bf9d55;
      font-size: 20px;
      font-weight: 600;

      &.cancel {
        color: #bf9d55;
        background: #fff;
      }
    }
  }

  // 通用的输入框
  >.contents {
    >.form-action {
      >.MuiFormControl-root {
        margin-bottom: 0.533333rem;

        >label {
          font-size: 0.746667rem;
          color: black;
        }

        >div {
          font-size: 0.746667rem;
        }
      }

      >.alert {
        margin: 0.533333rem 0;
        color: #fb7b81;
        font-size: 0.64rem;
        text-align: left;
      }
    }
  }

  &.bet-confirm-modal>.contents {
    padding: 0.53rem 0.27rem;
  }
}