@import '~@style/mixins/index.scss';
:local(.wrapper){
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 500;
    padding: 0 12px;

    .container {
        height: 38px;
        display: flex;
        .prev {
            padding: 12px 0 0 2px;
            img {
                width: 20px;
                height: 20px;
            }
        }
    
        .content {
            display: flex;
            font-size: 16px;
            font-family: "PingFang SC";
            @include useTheme {
                color: getVar('dpNormal');
            }
    
            .item {
                padding-top: 12px;
            }
    
            .item:first-child {
                margin: 0 26px 0 68px;
            }
    
            .active {
                font-weight: 600;
                @include useTheme {
                    color: getVar('dpStrong');
                }}
        }
    }

    hr {
        display: block;
        height:2px;
        width: 12px;
        @include useTheme {
            background-color: getVar('dpTheme');
        }
        margin: 0;
        border: none;
        border-radius: 100px;
        transition: 0.3s ease-in-out;
        margin-left: 116px;
        &.selected {
            margin-left: 214px;
        }
    }
}