@import '~@core/templates/desktop/styles/mixins/index.scss';

:local(.wrapper){


  @include pageWrapper();
  @include useTheme{
    background-color: getVar('bgColor');
    color: getVar('dpStrong');
  };

  div.row{
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }

  button{
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    @include useTheme{
      background-color: getVar('dpTheme');
      color: getVar('dpStrong');
    };
    cursor: pointer;
  }

}