@import '~@style/mixins/index.scss';
:local(.wrapper){
    font-family: "PingFang SC";
    text-align: center;
    padding: 0 12px;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    } 

    .statement {
        width: 224px;
        height: 44px;
        margin: auto;
        margin-bottom: 12px;
        text-align: center;
        font-family: "PingFang SC";
        font-size: 13px;
        line-height: 22px;
        @include useTheme {
            color: getVar('dpNormal');
        }
    }
    >div:nth-child(2) {
    .container {
        .guide {
            width: 349px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            border-radius: 12px;
            @include useTheme {
                background-color: getVar('dpCard');
                border: 1px solid getVar('dpBasicWhite');
            }
    
            .title {
                height: 16px;
                font-size: 16px;
                font-weight: 500;
                text-align: center;
                margin: 16px 0 16px;
                @include useTheme {
                    color: getVar('dpBasicBlack');
                }
            }
    
            .subtitle {
                height: 13px;
                font-size: 13px;
                text-align: center;
                @include useTheme {
                    color: getVar('dpNormal');
                }
            }
    
            .items {
                display: flex;
                justify-content: center;
                padding: 17px 0 24px;
    
                .display {
                    
                    padding: 0 66px 0 66px;
                    .sum {
                        text-align: center;
                        font-family: 'DINPro';
                        font-size: 30px;
                        font-weight: 600;
                        margin-bottom: 4px;
                        @include useTheme {
                            color: getVar('dpBasicBlack');
                        }
                    }
    
                    .describe {
                        font-size: 12px;
                        @include useTheme {
                            color: getVar('dpAncillary');
                        }
                    }
                }
    
                .item {
                    display: flex;
                    justify-content: end;
                    flex-direction: column;
    
                    p {
                        text-align: center;
                        font-size: 14px;
                        font-weight: 500;
                        margin-bottom: 8px;
                        @include useTheme {
                            color: getVar('dpBasicBlack');
                        }
                    }
    
                    .status {
                        width: fit-content;
                        text-align: center;
                        color: #A7AFBB;
                        border-radius: 4px;
                        border: 0.5px solid  #A7AFBB;
                        background-color: rgba(174, 174, 174, 0.10);
                        padding: 1px 4px;
                        margin: 0 auto;
                    }
    
                    .lose {
                        color: #ED4949;
                        border-color: rgba(245, 37, 37, 0.30);
                        background: rgba(245, 37, 37, 0.10);
                    }
    
                    .win {
                        color: #24C23D;
                        border-color: rgba(19, 217, 51, 0.30);
                        background: rgba(19, 217, 51, 0.10);
                    }
                }
            }
            
        }

        .guideSpacer {
            height: 12px;
        }
    }

}
    
}