@import '~@style/mixins/index.scss';
:local(.wrapper){
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  @include useTheme {
    background: getVar('dpCard');
  }
  box-sizing: border-box;
  padding: 24px 72px 14px 14px;
  .back {
    @include useTheme {
      color: getVar('dpTheme');
    }
    text-align: left;
    width: 44px;
    font-family: "PingFang SC";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  .tabs {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 34px;
    justify-content: space-between;
    .tab {
      @include useTheme {
        color: getVar('dpAncillary');
      }
      font-family: "PingFang SC";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      &.active {
        @include useTheme {
          color: getVar('dpStrong');
        }
        font-weight: 500;
      }
    }
  }
}