@import '~@core/templates/desktop/styles/mixins/index.scss';

:local(.modal1){
    >div.ant-modal-content{
        &::before {
            content: '';
            position: absolute;
            top: 222px;
            left: 180px;
            width: 100%;
            height: 100%;
            // background: url('../img/football.svg') no-repeat ; 
            background: url($football) no-repeat ; 
        }
    }
}
:local(.modal2){
    >div.ant-modal-content{
        &::before {
            content: '';
            position: absolute;
            top: 132px;
            left: 75px;
            width: 104px;
            height: 76px;
            @include useTheme {
                background: getVar('dp_tip_notice2_modal_background_img');
            }
        }
    }
}
:local(.modal3){
    >div.ant-modal-content{
        &::before {
            content: '';
            position: absolute;
            top: 130px;
            left: 70px;
            // width: 114px;
            // height: 77px;
            @include useTheme {
                background: getVar('dp_tip_notice3_modal_background_img');
                background-size: 114px 77px;
                background-repeat: no-repeat;
                width: 100%;
                height: 100vh;
            }
        }
    }
}
:local(.modal) {
    width: 256px !important;
    height: 337px;
    flex-shrink: 0;
    border-radius: 10px;
    @include useTheme {
        background: getVar('dp_tip_notice_modal_background1');
    }
    &::before {
        content: '';
        position: absolute;
        top: -46px;
        z-index: 10;
        background-image: url($player);
        background-size: 256px 168px;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
      }
    
    >div.ant-modal-content{
        width: 254px; // Set the width and height to match the SVG dimensions
        height: 337px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        box-shadow: none;
        padding: 0 20px;
        @include useTheme {
            background: getVar('dp_tip_notice_modal_background2');
        }        
        margin: 0px 1px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); // Hexagon clip path
        
        >.ant-modal-close{
            display: none;
        }
        >div.ant-modal-header{
            text-align: center;
            margin-top: 95px;
            margin-bottom: 0;
            background: none;
            >div.ant-modal-title{
                @include useTheme {
                    color: getVar('dp_tip_notice_modal_title_color');
                } 
                text-align: center;
                font-family: 'YouSheBiaoTiHei';
                font-size: 24px;
                font-style: normal;
                font-weight: 1000;
                line-height: normal;
            }
        }
        >div.ant-modal-body{
            text-align: left;
            margin-bottom: 0px;
            >h4 {
                @include useTheme {
                    color: getVar('dp_tip_notice_modal_title_color');
                } 
                font-family: PingFang SC;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                
            }
            >h4.notice1-body-title {
                text-align: left;
                margin-top: 16px;
                margin-bottom: 12px;
                
            }
            >h4.notice2-body-title {
                text-align: center;
                margin-top: 89px;
                margin-bottom: 4px;
            }
            >p {
                text-align: center;
                font-family: PingFang SC;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 10px;
                @include useTheme {
                    color: getVar('dp_tip_notice_modal_content_color');
                } 
            }
            
            >ul {
                list-style-type: circle;
                padding: 0;
                margin-bottom: 23px;

                >li {
                    @include useTheme {
                        color: getVar('dp_tip_notice_modal_content_color');
                    } 
                    font-family: PingFang SC;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 10px;
                    &::before {
                        content: "\2022"; 
                        display: inline-block;
                        width: 4px; // Adjust as needed for spacing
                        margin-right: 11px; // Adjust as needed for spacing
                      }
                }

            } 
        }
        >div.ant-modal-footer{
            position: absolute;
            left: 72px;
            bottom: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            margin-top: 0;
            >button{
                width: 110px;
                height: 34px;
                flex-shrink: 0;           
                border-radius: 17px;
                @include useTheme {
                    background: getVar('dp_tip_notice_modal_button_background');
                    box-shadow: getVar('dp_tip_notice_modal_button_box_shadow');
                }                 
            }
        }
    }
}