@import '~@style/mixins/index.scss';

:local(.wrapper) {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  position: relative;
  background: transparent;

  .div {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }

  .img {
    height: 20px;
    position: relative;
    width: 20px;
  }

  .navbar {
    align-items: baseline;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
  }

  .text-wrapper {
    font-size: 14px;
    font-weight: 400;
    font-family: "PingFang SC-Medium", Helvetica;
    letter-spacing: 0;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    @include useTheme {
      color: getVar('dpNormal');
    }
    &.active {
      font-size: 18px;
      font-weight: 500;
      @include useTheme {
        color: getVar('dpStrong');
      }
      // 下标蓝色横线
      &:after {
        @include useTheme {
          background-color: getVar('dpTheme');
        }
        bottom: -6px;
        content: "";
        width: 12px;
        height: 2px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        border-radius: 1px;
      }
    }
  }

  .div-2 {
    align-items: center;
    @include useTheme {
      background-color: getVar('dpCoinBg');
    }
    border-radius: 60px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    margin-left: -184px;
    overflow: hidden;
    padding: 4px 6px;
    position: relative;
  }

  .group {
    background-color: #f5b63d;
    border-radius: 8px;
    height: 16px;
    position: relative;
    width: 16px;
  }

  .union {
    height: 12px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 12px;
  }

  .text-wrapper-3 {
    @include useTheme {
      color: getVar('dpStrong');
    }
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 14px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }

}
.date-list {
  width: 100%;
  height: 27px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  padding: 0 10px;
  box-sizing: border-box;
  @include useTheme {
    background-color: getVar('dpTopBackground');
  }
  .option-item {
    padding: 0 10px;
    white-space: nowrap;
    &.active {
      @include useTheme {
        color: getVar('dpTheme');
      }
    }
  }
}
