@import '~@style/mixins/index.scss';
:local(.wrapper){
    animation: slideInUp 0.3s ease-in-out;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    @include useTheme {
        background-color: getVar('dpBackground');
    }

    > .container {
        overflow: hidden;
        flex: 1;
    }
}