@import '~@style/mixins/index.scss';

:local(.wrapper){
  padding: 0 10px 10px 10px;
  height: 130px;
  margin-bottom: 10px;
  @include useTheme {
    border-bottom: 0.5px solid getVar('dpDivide');
  }
  &:last-child {
    margin-bottom: 0;
  }
  >.phase{
    display: flex;
    padding: 3px 0px;
    justify-content: flex-start;
    align-items: center;
    height: 14px;
    line-height: 1;
    @include useTheme {
      color: getVar('dpNormal');
    }
    img{
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }
    >span.total-count{
      font-size: 12px;
      font-weight: 400;
      margin-left: auto;
    }
  }

  >.match-info{
    display: flex;
    justify-content: space-between;
    height: 102px;
    padding-bottom: 10px;
    >.infos{
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      
      >.team{
        display: flex;
        height: 14px;
        width: 100%;
        justify-content: space-between;
        margin-top: 12px;
        margin-bottom: 12px;
        box-sizing: border-box;
        padding-right: 10px;
        @include useTheme {
          color: getVar('dpStrong');
        }
        .team-name {
          display: flex;
          align-items: center;
          >span:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            max-width: 100px;
          }
        }
        .red-card {
          font-weight: normal;
          width: 11px;
          height: 14px;
          font-size: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 2px;
          background: #E94343;
          color: #fff;
          margin-left: 3px;
        }
      }
      >.media{
        height: 22px;
        display: flex;
        align-items: flex-end;
        min-width: 100px;
        img{
          width: 15px;
          margin-right: 6px;
        }
      }
    }
    >.odds{
      width: 60%;
      .swiper {
        padding-bottom: 14px;
      }
      .swiper-pagination {
        bottom: 0px;
        @include useTheme {
          .swiper-pagination-bullet {
            width: 6px;
            height: 2px;
            border-radius: 1px;
            background: getVar('dpNormal');
            margin: 0 2px;
            &-active {
              width: 8px;
              background: getVar('dpTheme');  
            }
          }
        }
      }
    }
  }

}
