@import '~@style/mixins/index.scss';

:local(.wrapper){
  position: relative;
  >.play-type-wrapper{
    display: flex;
    height: 32px;
    padding: 8px 10px 8px 16px;
    justify-content: space-between;
    align-items: center;
    @include useTheme {
      border-top: 0.5px solid getVar('dpDivide');
      background: getVar('dpPlayTypeBg');
      color: getVar('dpStrong');
      background-color: getVar('dpTopBackground');
    }
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 2;
    &.is-closed {
      img.arrow {
        transform: rotate(-180deg);
      }
    }
    >img.arrow{
      width: 12px;
      height: 12px;
      transition: .2s ease;
    }
    >div.name{
      display: flex;
      align-items: center;
      >div{
        width: 14px;
        height: 14px;
        margin-right: 5px;
      }
      span.count{
        @include useTheme {
          color: getVar('dpAncillary');
        }
        font-size: 10px;
        font-weight: 400;
      }
    }
    img{
      margin-right: 2px;
    }
  }
}

:local(.leagueItem){
  width: 363px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 6px;
  @include useTheme {
    border: 0.5px solid getVar('dpDivide');
    background: getVar('dpCard');
  }
  >.league-wrapper{
    display: flex;
    height: 28px;
    box-sizing: border-box;
    padding: 7px 12px 7px 0px;
    align-items: flex-start;
    border-radius: 6px 6px 0px 0px;
    @include useTheme {
      border-bottom: 0.5px solid getVar('dpDivide');
    }
    >.league-info{
      display: flex;
      padding: 0 10px;
      position: relative;

      &::before{
        content: "";
        width: 2px;
        height: 14px;
        position: absolute;
        left: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        background-image: url('~@this/assets/images/common/title-line.png');
      }
      img{
        width: 14px;
        height: 14px;
      }
      span.league-name{
        margin-left: 5px;
        @include useTheme {
          color: getVar('dpStrong');
        }
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
      }
    }
  }
  .match-box-placeholder{
    height: 24px;
  }
  >.match-items-wrapper{
    .match-placeholder{
      height: 140.5px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .match-beginner-placeholder{
      height: 118px;
    }
    >div.match-box{
      display: flex;
      justify-content: space-between;
      @include useTheme {
        border-bottom: .5px solid getVar('dpDivide');
      }

      >div{
        width: 40%;
      }
      >.match-title{
        width: 60%;
        height: 24px;
        line-height: 24px;
        box-sizing: border-box;
        padding: 0 10px 0 0;
        overflow: hidden;
        @include useTheme {
          color: getVar('dpStrong');
        }
        .name-list {
          display: flex;
          .label {
            flex: 1;
            text-align: center;
          }
        }
      }
    }
  }

}
