@import '~@core/templates/desktop/styles/mixins/index.scss';

:local(.dp_switch_button) {
  border-radius: 8px;
  @include useTheme {
    background-color: getVar('dpButton');
  }
  position: relative;

  .main-switch {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 8px 7px;
    height: 24px;
  }

  button {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    padding: 5px 0;
    transition: .2s;
    text-align: center;
    cursor: pointer;
    max-width: 79px;
    z-index: 1;
    line-height: 1;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    @include useTheme {
      color: getVar('dpNormal');
    }
    &.active {
      border-radius: 8px;
      @include useTheme {
        color: #fff;
        pointer-events: none;
        background: getVar('dpTheme');
      }
    }
  }

  .sub-switch {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 8px 7px;
    height: 24px;
  }
  
  a {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
    max-width: 79px;
    z-index: 1;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    @include useTheme {
      color: getVar('dpNormal');
    }
    &.active {
      @include useTheme {
        pointer-events: none;
        color: getVar('dpTheme');
      }
    }
  }
}
