@import '~@style/mixins/index.scss';

:local(.wrapper) {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  .header {
    @include useTheme {
      background: getVar('dpTopBackground');
    }
  }
  .sport-logo {
    width: 20.833px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    >.total{
      position: absolute;
      left: calc(100% + 4px);
      top: 0;
      font-size: 10px;
      font-family: DINPro;
      font-weight: 400;
      @include useTheme {
        color: getVar('dpAncillary');
      }
    }
    @each $i in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 276 277 278 279 {
      &.sid-#{$i} {
        background-image: url('~@my/assets/images/sport-icons/' + $i + '.png');
      }
    }
    &.active {
      @each $i in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 33 276 277 278 279 {
        &.sid-#{$i} {
          background-image: url('~@my/assets/images/sport-icons/' + $i + '-active.png');
        }
      }
      .total {
        @include useTheme {
          color: getVar('dpStrong');
        }
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
    height: 97px; /* Adjust this value based on your requirement */
    background: linear-gradient(180deg, rgba(53, 134, 255, 0.10) 0%, rgba(53, 134, 255, 0.00) 100%);
  }

}
