@import '~@core/templates/desktop/styles/mixins/index.scss';

:local(.wrapper) {
  position: relative;
  flex: 1;
  @include useTheme {
    background: getVar('dpBackground');
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .menu-item{
    position: relative;
    height: 40px;
    padding: 10px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    overflow: hidden;
    background-position: center;
    box-sizing: border-box;
    @include useTheme {
      background: getVar('dp_Card');      
      color: getVar('dpStrong');
    }
    img{
      height: 20px;
      width: 20px;
      margin-right: 3.5px;
    }
    span.name{
      margin-right: auto;
      width: 125px;
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
    }
  }
  .go-back {
    display: flex;
    border-bottom: 0.5px solid #EBEDF1;
  }
  .reserve-tab{
    display: flex;
    width: 100%;
    height: 30px;
    gap: 7px;
    flex-shrink: 0;
    @include useTheme {
      background: getVar('dp_Card');      
    }
    .active{
      .text{
        @include useTheme {
          color: getVar('dpTheme') !important;
        }
      }
      .line{
        @include useTheme {
          background: getVar('dpTheme') !important;
        }
      }
    }
    div{
      display: flex;
      width: 65px;
      height: 30px;
      padding: 9px 5px 0px 5px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7px;
      flex-shrink: 0;
      box-sizing: border-box;
      .text{
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        @include useTheme {
          color: getVar('dpStrong');
        }
      }
      .line{
        display: block;
        width: 34px;
        height: 2px;
        flex-shrink: 0;
      }
      &:nth-child(3) {
        .line{
          width: 56px;
        }
      }
    }
  }
  .switch-type{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    margin-bottom: 5px;
    box-sizing: border-box;
    .ant-radio-group {
      width: 200px;
      margin: 0 auto;
      border-radius: 60px;
      border: none;
      @include useTheme {
        background: getVar('dpButton');
      }
    }
    .ant-radio-button-wrapper {
      flex: 1;
      font-size: 12px !important;
      border: none;
      background: none;
      border-radius: 60px;
      text-align: center;
      height: 26px;
      line-height: 26px;
      &:before {
        height: 9px;
        top: 8px;
        @include useTheme {
          background: getVar('lineBg');
        }
      }
      &.ant-radio-button-wrapper-checked {
        @include useTheme {
          background: getVar('dpTheme');
        }
        &:before {
          display: none;
        }
        & +.ant-radio-button-wrapper:before{
          display: none;
        }
      }
    }
    @include useTheme {
      background: getVar('dp_Card');      
      color: getVar('dpStrong');
    }
    > div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    button{
      flex: 1;
      height: 26px;
      border-radius: 60px;
      width: 50%;
      .order-size{
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 4px;
        @include useTheme {
          background: getVar('dpForm1');
          color: getVar('dpStrong');
        }
      }
      @include useTheme {
        color: getVar('dpStrong');
      }
    }
  }
  .order-list {
    margin-top: 4px;
    overflow-y: scroll;
    height: calc(100vh - 250px);
  }
  ::-webkit-scrollbar {
    display: none;
  }
  // ::-webkit-scrollbar-track {
  //     border-radius: 3px;
  //     @include useTheme {
  //       background: getVar('dpScrollbarTrack');
  //     }
  // }
  // /* 滚动条滑块 */
  // ::-webkit-scrollbar-thumb {
  //     border-radius: 3px;
  //     @include useTheme {
  //       background: getVar('dpScrollbarThumb');
  //     }
  // }
  .display-none{
    display: none !important;
  }
  .more-data{
    text-align: center;
  }
  .order-item {
    .game-type{
      display: flex;
      width: 100%;
      padding: 9px 10px;
      align-items: center;
      border-radius: 4px;
      overflow: hidden;
      box-sizing: border-box;
      @include useTheme {
        border-bottom: 0.5px solid getVar('dpDivide');
        background: getVar('dpCar');
      }
      .line{
        display: inline-block;
        width: 2px;
        height: 12px;
        flex-shrink: 0;
        margin-right: 10px;
        @include useTheme {
          background-color: getVar('dpTheme');
        }
      }
      .type-name{
        text-align: center;
        font-size: 12px;
        line-height: 12px;
        @include useTheme {
          color: getVar('dpStrong');
        }
      }
    }
    .game-main{
      width: 100%;
      padding: 10px;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      box-sizing: border-box;
      > .reserve-status {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        margin-bottom: 10px;
        @include useTheme {
          color: getVar('dpTheme');
        }
        >.cancel-btn {
          border-radius: 14px;
          border: 1px solid;
          text-align: center;
          padding: 4px 8px;
          cursor: pointer;
          float: right;
      
          @include useTheme {
            color: getVar('dpTheme');
            border-color: getVar('dpTheme');
          }
        }
      }
      .league-name{
        font-size: 10px;
        font-style: normal;
        line-height: 10px;
        @include useTheme {
          color: getVar('dpNormal2');
        }
      }
      .match-names{
        margin:10px 0 4px 0;
        @include useTheme {
          color: getVar('dpStrong');
        }
        >span {
          span:nth-child(1){
            font-size: 12px;
            line-height: 12px;
            display: inline-block;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          span:nth-child(2){
            font-size: 10px;
            line-height: 10px;
            display: inline-block;
            width: 20%;
            text-align: right;
            vertical-align: text-top;
          }
        }
      }
      .bet-detail{
        width: 100%;
        min-height: 79px;
        border-radius: 4px;
        padding: 10px;
        box-sizing: border-box;
        @include useTheme {
          background: getVar('dpHover');
        }
        .l-1{
          display: flex;
          justify-content: space-between;
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          box-sizing: border-box;
          .bet-game-type-text{
            margin-left: 4px;
            white-space: nowrap;
          }
          .play-name-text{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 90px;
          }
          span:nth-child(1){
            display: flex;
            font-size: 12px;
            line-height: 1;
            font-style: normal;
            em:nth-child(1){
              overflow: hidden;
              text-overflow: ellipsis;
              width: 45px;
              white-space: nowrap;
              @include useTheme {
                color: getVar('dpTheme');
              }
            }
            em:nth-child(2){
              margin-left: 8px;
              @include useTheme {
                color: getVar('dpStrong');
              }
            }
          }
          span:nth-child(2){
            font-size: 12px;
            line-height: 1;
            font-style: normal;
            @include useTheme {
              color: getVar('dpStrong');
            }
          }
          span:nth-child(3){
            font-size: 10px;
            line-height: 1;
            font-style: normal;
            @include useTheme {
              color: getVar('dpTheme');
            }
          }
        }
        .l-2{
          display: flex;
          align-items: center;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 1;
          margin: 11px 0 8px 0px;
          box-sizing: border-box;
          overflow: hidden;
          justify-content: space-between;
          flex-wrap: wrap;
          &:hover{
            overflow-wrap: break-word;
          }
          .not-started {
            @include useTheme {
              color: getVar(dpTheme)!important;
            }
            em{
              line-height: 1.8;
            }
            .pl-6{
              @include useTheme {
                color: getVar('dpStrong');
              }
              display: inline-block;
              padding-left: 6px;
            }
          }
          .play-type-name{
            margin-right: 7px;
            @include useTheme {
              color: getVar('dpStrong');
            }
          }
          span:nth-child(2){
            @include useTheme {
              color: getVar('dpTheme');
            }
          }
        }
        .l-3{
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .odd{
            font-size: 14px;
            line-height: 14px;
            @include useTheme {
              color: getVar('dpStrong');
            }
            span:nth-child(2){
              font-weight: 500;
            }
          }
          .bet-result{
            .win{
              padding: 2px 4px;
              border-radius: 4px;
              border: 0.5px solid #F85454;
              background: #DD5454;
              color: #fff;
            }
            .lose{
              padding: 2px 4px;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px;
              border-radius: 4px;
              @include useTheme {
                border: 0.5px solid getVar('dpOutline');
                background: getVal('dp_record_lose');
              }
            }
          }
        }
      }
      .bet-win{
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 10px;
        line-height: 10px;
        box-sizing: border-box;
        @include useTheme {
          color: getVar('dpNormal2');
        }
      }
    }


    border-radius: 4px;
    margin-bottom: 6px;
    font-size: 12px;
    @include useTheme {
      background: getVar('dpCar');
      color: getVar('dpNormal');
    }
  }
}
