@import '~@core/templates/desktop/styles/mixins/index.scss';

:local(.wrapper) {
    @include useTheme {
        background-color: getVar('dpBasicWhite');
    }
    display: flex;
    justify-content: space-between;
    height: 44px;
    align-items: center;
    > span {
        font-size: 13px;
        line-height: 13px;
    }
    .switch-btn {
        display: flex;
        align-items: center;
        padding: 0;
        width: auto;
        @include useTheme {
            background: getVar('dpPromptBackground') !important;
        }
        border-radius: 27px;
        padding: 2px;
        height: 22px;
        .switch-body {
            width: fit-content;
            > div {
                width: auto;
                font-size: 11px;
                line-height: 12px;
                padding: 5px 10px 5px 8px;
            }
            .false {
                @include useTheme {
                    color: getVar('dpAncillary');
                }
            }
            .up-btn {
                border-radius: 27px;
                @include useTheme {
                    background: getVar('dpBasicWhite');
                }
            }
        }
    }

    .link-ietm {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background-color: #A7AFBB;
        height: 26px;
        width: 98px;
        border-radius: 13px;
        .link-text {
            font-size: 11px;
            color: #FFF;
        }
    }
}