:local(.wrapper){
  width: 100%;
  background: #2626295e;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  transform:translateZ(500px);
  overflow: hidden;
  display: flex;
  justify-content: center;

  &.block {
    overflow: auto;
  }
  &.hidden {
    display: none;
  }
  &.hasMask{
    background: none !important;
  }
  >div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -2;
    >.close{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  .order-record-overlay {
    >.close{
      height: 100%;
      background: rgba(38, 38, 41, 0.368627451);
    }
  }
}